{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<style>
    select:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    #customer_sel option:hover {
        background-color: rgb(210, 132, 30);
    }

    .element-below-fixed {
        padding-top: 100px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .hide {
        display: none;
    }
    .modal{
      z-index: 9999;
      overflow: scroll;
    }



</style>





<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

    function cancelDialog() {

        var frm = document.getElementById("forms");
        let customMsg = "Are you sure you want to cancel?";

        if (confirm(customMsg)) {
            alert("adjustment cancelled!")
        }
    }

    function saveAsDraftDialog() {

        var frm = document.getElementById("forms");
        frm.action = ("{% url 'createestimate'%}")
    }

    // function get_customer_email() {

    //  var eml = document.getElementById("customer_sel");
    //  eml.action = ("{% url 'newestimate'%}")
    // }

    function saveAndSendDialog() {

        var frm = document.getElementById("forms");
        frm.action = ("{% url 'create_and_send_estimate'%}")
    }
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });



</script>



<section>
    <div  style="top: 7rem;">
        <div class="row  ml-2" >
            <div class="col-md-3 "><a class="text-white" style="font-size: 1.8rem;">New Adjustment</a></div>
    
        </div>
         <div></div>
            <form method="POST" action="" class="p-5" enctype="multipart/form-data" novalidate id="forms">
                {% csrf_token %}
                <fieldset class="form-group">
                  <div class="row">
                    <label class="col-form-label col-sm-2 pt-3">Mode of Adjustment</label>
                  
                    <div class="col-sm-10">
                      <div class="col-sm-10 form-inline">
                        <div class="form-check " style="margin-left: -2.2rem;">
                          <input required class="form-check-input " type="radio" name="type" id="gridRadios1" value="Quantity" style="margin-left:5px;" >
                          <label  class="form-check-label" for="gridRadios1" style="color: white;">Quantity Adjustment</label>
                        </div>
                        <div class="form-check ml-5">
                          <input required class="form-check-input " type="radio" name="type" id="gridRadios2" value="Value" style="margin-left:50px;" >
                          <label  class="form-check-label" for="gridRadios2" style="color: white;">Value Adjustment</label>
                        </div>
                              
                      </div>
                            
                    </div>
                  </div>
                </fieldset>


                <div class="form-group row">
                  <label  class="col-sm-2 col-form-label ">Reference Number</label>
                  <div class="col-sm-6 col-md-5 col-6" style="margin-left: -2.2rem;">
                    <input required type="text" class="form-control bg-white text-dark" name="refno" id="nameInput" oninput="validateInput(this)" value="{{ adj.reference_number }}">
                    <div id="validationResult"></div>
                    
                  </div>
                </div>
            

            <script>
              function validateInput(input) {
                  var inputValue = input.value;
                  var hasCharacter = /[a-zA-Z]/.test(inputValue);
                  var hasNumber = /\d/.test(inputValue);

                  var validationResultDiv = document.getElementById("validationResult");
            
                  if (hasCharacter && hasNumber) {
                      // input.setCustomValidity('');
                      validationResultDiv.textContent = " ";
                  } else {
                      validationResultDiv.textContent = "Invalid: The field should contain atleast a number and a character.";
                      // input.setCustomValidity('Input must contain at least one character and one number.');
                  }
              }
            </script>
             
             <div class="form-group row">
              <label class="col-sm-2 col-form-label">Date *</label>
              <div class="col-sm-6 col-md-5 col-6" style="margin-left: -2.2rem;">
                  <input required type="date" class="form-control bg-white text-dark" name="date" id="dateInput" value="{{ adj.date|date:'Y-m-d' }}">
              </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Account *</label>
            <div class="col-sm-6 col-md-5 col-6" style="margin-left: -2.2rem;">
                <select name="account" class="form-control bg-white text-dark" id="unit" value="{{ account_selected.account_name }}">
                    {% for a in accounts %}
                    <option value="{{a.id}}">{{a.account_name}}</option>
                    
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Reason *</label>
          <div class="col-sm-6 col-md-5 col-6" style="margin-left: -2.2rem;">
              <select name="reason" class="form-control bg-white text-dark" id="unit">
                <option value="{{u.id}}" selected hidden disabled>Select a reason</option>
                 {% for i in reason %}
                  <option value="{{i.id}}">{{ i.reason }}</option>
                  {% endfor %}


              </select>
          </div>
          <div class="col-2">

            <!-- onclick="openForm()" -->
            <a href="#" class="btn btn-outline-secondary py-2 mt-1 mx-1 mx-auto p-3" style="background-color: white;color: #000; padding-bottom: 6px!important;" data-target="#newreason" data-toggle="modal">Add Reason</a></button>
        </div>
      </div>

      
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-6 col-md-5 col-6" style="margin-left: -2.2rem;">
            <textarea name="description" id="" cols="66" rows="3" style=" border:1px white solid;border-radius:5px;" placeholder="&nbsp;Max 500 characters" >{{ adj.description }}</textarea>
        </div>
    </div>




<!-- .............................................  TABLE 2 ..................................................... -->

                  
<div class="row" id="tab_row1">
    <div class="col-sm-12 col-lg-12 col-md-12 ">
        <label for="" id="label_tab1" class="tab1"></label><br>
        <div style="width: 100%;">
            <table class="table  text-black table-bordered tab1" id="item_table" style="background-color: rgba(250, 227, 198, 0.8);width: 100%;background-color: #b6b3b36b;"
            onchange="calc()">
            <thead>
                <tr>
                    <th class="" style="font-weight: bold;color: rgb(245, 154, 36);" colspan="2">Item Details <a href="" data-toggle="modal" data-target="#newitem"><i class="fas fa-plus p-2 rounded"
                                style="color: white; background-color: rgb(210, 132, 30);"></i></a></th>
                    <th class="text-right" style="font-weight: bold;color: rgb(245, 154, 36);">Quantity Available</th>
                    <th class="text-right" style="font-weight: bold;color: rgb(245, 154, 36);">New Quantity on Hand</th>
                    <th class="text-right" style="font-weight: bold;color: rgb(245, 154, 36);">Quantity Adjusted</th>
                </tr>
            </thead>
            <tbody>

              

                <tr id='row1'>
                    <td class="bg-transparent text-light rownum" id="" value=""></td>
                    <td>
                        <div class='form-group'><select class=' bg-transparent text-light border-0 item_select itm' name='item[]' id='item1'>
                          
                               <option class='text-dark' value="{{items.item_name}}">{{items.item_name}}</option>
                               {% for i in items %}
                                <option class="text-dark" value="{{i.Name}}" data-stock="{{i.stock}}">{{i.Name}}</option>
                               {% endfor %}
                            </select>
                        </div>
                    </td>

                    
                    <td class='text-right' ><input type='number' class='form-control bg-transparent border-1 border-light text-light text-right qty' value='' name="qtyav[]" >
                    </td>
                    
                    <td class='text-right'><input type='number' id='rates' class='form-control bg-transparent border-1 border-light text-light text-right rate' name='newqty[]' value=''>
                    </td>
                    
                    <td class='text-right'><input type='text' id='diff' class='form-control bg-transparent border-1 border-light text-light text-right discount' name='qtyadj[]' value=''>
                    </td>
                    

                    <td class='text-center'>
                        <button type='button' id='del_btn1' class='btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row'
                          style='width:30px'><i class='fa fa-times'></i></button> 
                    </td>
                </tr>
                
                
            </tbody>
        </table>

        <button type="button" class="btn btn-sm text-white tab1" style="background-color: rgb(210, 132, 30) ;"
            id="add-row" title="add row"><i class="fa-solid  fa fa-plus rounded"
            style="color: white; background-color: rgb(210, 132, 30);height: 20px;"></i></button>
    </div>
    

</div>

</div>


<!-- adding row for table 2 -->

<script>

//#### FIRST ROW ####
let rowNum = 1;
const rownumber =document.querySelector('.rownum');
rownumber.innerHTML = rowNum;

document.addEventListener('DOMContentLoaded', function() {
    const itemSelect = document.querySelector('.item_select');
    const qtyInput = document.querySelector('.qty');
    
    itemSelect.addEventListener('change', function() {
        
        const selectedOption = itemSelect.options[itemSelect.selectedIndex];
        
        
        const stock = selectedOption.getAttribute('data-stock');
        qtyInput.value = stock;
    });
});


const rateInput = document.getElementById('rates');
const discountInput = document.getElementById('diff');
    
    rateInput.addEventListener('input', function() {
        
        const qtyInput = document.querySelector('.qty'); 
        const rateValue = parseFloat(rateInput.value) || 0;
        const qtyValue = parseFloat(qtyInput.value) || 0; 
        const difference = rateValue - qtyValue ;

        
        discountInput.value = difference.toFixed(2);
    });

//#### NEW ROW ####

document.addEventListener('DOMContentLoaded', function() {
  

    const addRowButton = document.getElementById('add-row');

    // Add a click event listener to the button
    addRowButton.addEventListener('click', function() {
        // Create a new row element
        const newRow = document.createElement('tr');

        rowNum++;

        newRow.innerHTML = `
            <td class="bg-transparent text-light">${rowNum}</td>
            <td>
                <div class='form-group'><select class='bg-transparent text-light border-0 item_select itm' name='item[]' id='item1'>
                        <option class='text-dark' hidden>Select Items</option>
                        {% for i in items %}
                        <option class="text-dark" value="{{i.Name}}" data-stock="{{i.stock}}">{{i.Name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>

            <td class='text-right'><input type='number' class='form-control bg-transparent border-1 border-light text-light text-right qty' name="qtyav[]" value=''></td>
            <td class='text-right'><input type='number' id='rates' class='form-control bg-transparent border-1 border-light text-light text-right rate' name="newqty[]" value=''></td>
            <td class='text-right'><input type='text' id='diff' class='form-control bg-transparent border-1 border-light text-light text-right discount' name="qtyadj[]" value=''></td>
            <td class='text-center'>
                <button type='button' class='btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row' style='width:30px'><i class='fa fa-times'></i></button>
            </td>
        `;

       
        const tableBody = document.querySelector('#item_table tbody');
        tableBody.appendChild(newRow);

        const itemSelect = newRow.querySelector('.item_select');
        const qtyInput = newRow.querySelector('.qty');
        const ratesInput = newRow.querySelector('#rates'); 
        const diffInput = newRow.querySelector('#diff'); 

        itemSelect.addEventListener('change', function() {
            const selectedOption = itemSelect.options[itemSelect.selectedIndex];
            const stock = selectedOption.getAttribute('data-stock');
            qtyInput.value = stock;
        });

       
        ratesInput.addEventListener('input', function() {
            const qtyValue = parseFloat(qtyInput.value) || 0; 
            const ratesValue = parseFloat(ratesInput.value) || 0; 
            const difference =ratesValue - qtyValue ;

           
            diffInput.value = difference.toFixed(2); 
        });

        const deleteButton = newRow.querySelector('.delete-row');
        deleteButton.addEventListener('click', function() {
            const parentRow = deleteButton.closest('tr');
            parentRow.remove();

            rowNum--;
        });
    });
});

</script>
   

<!--..................................... END OF TABLE 2 ..................................................-->


               
                

               

               
<!-- .............................................  TABLE 1  ..................................................... -->

                  
                <div class="row" id="tab_row2">
                    <div class="col-sm-12 col-lg-12 col-md-12 ">
                        <label for="" id="label_tab2" class="tab2"></label><br>
                        <div style="width: 100%;">
                            <table class="table  text-black table-bordered tab2" id="item_table2" style="background-color: rgba(250, 227, 198, 0.8);width: 100%;background-color: #b6b3b36b;"
                            onchange="calc()">
                            <thead>
                                <tr>
                                    <th class="" style="font-weight: bold;color: rgb(245, 154, 36);" colspan="2" >Item Details <a href="" data-toggle="modal" data-target="#newitem"><i class="fas fa-plus p-2 rounded"
                                                style="color: white; background-color: rgb(210, 132, 30);"></i></a></th>
                                    <th class="text-right" style="font-weight: bold;color: rgb(245, 154, 36);">Current Value</th>
                                    <th class="text-right" style="font-weight: bold;color: rgb(245, 154, 36);">Changed Value</th>
                                    <th class="text-right" style="font-weight: bold;color: rgb(245, 154, 36);">Adjusted Value</th>
                                </tr>
                            </thead>
                            <tbody>
        
                                <tr id='row2'>
                                    <td class="bg-transparent text-light rownum2"  ></td>
                                    <td>
                                        <div class='form-group'><select class=' bg-transparent text-light border-0 item_select2 itm' name='item2[]' id=''>
                                                <option class='text-dark'>Select Items</option>
                                                {% for i in items %}
                                                <option class="text-dark" value="{{i.Name}}" data-stock="{{i.stock}}" data-rate="{{i.rate}}">{{i.Name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    <td class='text-right'><input type='number' id='rate1' class='form-control bg-transparent border-1 border-light text-light text-right values' name='cuval[]'
                                            value=''>
                                    </td>
                                    <td class='text-right'><input type='number' id='rate2' class='form-control bg-transparent border-1 border-light text-light text-right rate' name='chval[]'
                                            value=''>
                                    </td>
                                    <td class='text-right'><input type='text' id='discount1' class='form-control bg-transparent border-1 border-light text-light text-right discount' name='adjval[]'
                                            value=''>
                                    </td>
                                    

                                   
                                    <td class='text-center'><button type='button' id='del_btn2'
                                            class='btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row'
                                            style='width:30px'><i class='fa fa-times'></i></button>
                                                
                                              </td>
                                </tr>
                            </tbody>
        
                        </table>
                        <button type="button" class="btn btn-sm text-white tab2" style="background-color: rgb(210, 132, 30) ;"
                            id="add-row2"  title="add row"><i class="fa-solid  fa fa-plus rounded"
                            style="color: white; background-color: rgb(210, 132, 30);height: 20px;"></i></button>
                    </div>
                    
 
                </div>
            </div>



<!-- adding row for table 1 -->

<script>

let rowNum2 = 1;
const rownumber2 =document.querySelector('.rownum2');
rownumber2.innerHTML = rowNum2;

//#### NEW ROW ####
document.addEventListener('DOMContentLoaded', function() {
    
    const addRowButton = document.getElementById('add-row2');
    
    addRowButton.addEventListener('click', function() {
       
        const newRow = document.createElement('tr');
        rowNum2++;

        newRow.innerHTML = `
            <td class="bg-transparent text-light" style="width:50px;">${rowNum2}</td>
            <td>
                <div class='form-group'><select class='bg-transparent text-light border-0 item_select2 itm'  name='item2[]' id='item1'>
                        <option class='text-dark' hidden>Select Items</option>
                        {% for i in items %}
                        <option class="text-dark" value="{{i.Name}}" data-stock="{{i.stock}}" data-rate="{{i.rate}}">{{i.Name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td class='text-right'><input type='number' id='ratee1' class='form-control bg-transparent border-1 border-light text-light text-right values' value=''  name='cuval[]'></td>
            <td class='text-right'><input type='number' id='ratee2' class='form-control bg-transparent border-1 border-light text-light text-right rate' name='chval[]' value=''></td>
            <td class='text-right'><input type='text' id='discount2' class='form-control bg-transparent border-1 border-light text-light text-right discount' name='adjval[]' value=''></td>
            <td class='text-center'>
                <button type='button' class='btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row' style='width:30px'><i class='fa fa-times'></i></button>
            </td>
        `;

        // Append the new row to the table body
        const tableBody = document.querySelector('#item_table2 tbody');
        tableBody.appendChild(newRow);

        const itemSelect = newRow.querySelector('.item_select2');
        const qtyInput = newRow.querySelector('.values');

        itemSelect.addEventListener('change', function() {
            const selectedOption = itemSelect.options[itemSelect.selectedIndex];
            const stock = selectedOption.getAttribute('data-stock');
            const rate = selectedOption.getAttribute('data-rate');
            const fvalue = stock * rate;
            qtyInput.value = fvalue;

        });


        
const rateInp1 = document.getElementById('ratee1');
const rateInp2 = document.getElementById('ratee2');
const discInput = document.getElementById('discount2');

rateInp1.addEventListener('input', calculateDiscount);
rateInp2.addEventListener('input', calculateDiscount);

// Function to calculate the discount
function calculateDiscount() {
    const rates1 = parseFloat(rateInp1.value) || 0;
    const rates2 = parseFloat(rateInp2.value) || 0;

    // Calculate the difference
    const difference = rates1 - rates2;

    // Update the discount input field with the difference
    discInput.value = difference.toFixed(2); // Adjust the number of decimal places as needed
}

        const deleteButton = newRow.querySelector('.delete-row');
        deleteButton.addEventListener('click', function() {
            const parentRow = deleteButton.closest('tr');
            parentRow.remove();

           rowNum2--;
    });
  });


    
    const itemSelect = document.querySelector('.item_select2');
    const qtyInput = document.querySelector('.values');

    itemSelect.addEventListener('change', function() {
        const selectedOption = itemSelect.options[itemSelect.selectedIndex];
        const stock = selectedOption.getAttribute('data-stock');
        const rate = selectedOption.getAttribute('data-rate');
        const fvalue = stock * rate;
        qtyInput.value = fvalue;



    });

const rateInput1 = document.getElementById('rate1');
const rateInput2 = document.getElementById('rate2');
const discountInput = document.getElementById('discount1');

rateInput1.addEventListener('input', calculateDiscount);
rateInput2.addEventListener('input', calculateDiscount);

// Function to calculate the discount
function calculateDiscount() {
    const rate1 = parseFloat(rateInput1.value) || 0;
    const rate2 = parseFloat(rateInput2.value) || 0;

    // Calculate the difference
    const difference = rate1 - rate2;

    // Update the discount input field with the difference
    discountInput.value = difference.toFixed(2); // Adjust the number of decimal places as needed
}

});






    
    </script>







<!-- ..................................................   END TABLE1   .......................................................... -->




<!-- show/hide table according to radio -->
            <script>
                // Function to show the Quantity Adjustment table
                function showQuantityAdjustmentTable() {
                  document.getElementById('tab_row1').style.display = 'block';
                  // Hide the Value Adjustment table
                  document.getElementById('tab_row2').style.display = 'none';
                }
              
                // Function to show the Value Adjustment table
                function showValueAdjustmentTable() {
                  document.getElementById('tab_row1').style.display = 'none';
                  // Show the Value Adjustment table
                  document.getElementById('tab_row2').style.display = 'block';
                }
              
                // Add event listeners to the radio buttons
                document.getElementById('gridRadios1').addEventListener('change', showQuantityAdjustmentTable);
                document.getElementById('gridRadios2').addEventListener('change', showValueAdjustmentTable);
              
                // Initially, show only Table 1 and hide Table 2
                document.getElementById('tab_row1').style.display = 'block';
                document.getElementById('tab_row2').style.display = 'none';
              </script>



          
                    <div class="row">
                        <div class="-sm-12 col-md-6 col-lg-6">
                            <!-- <input type="submit" class="btn text-white mt-5" style="background-color:  rgb(59, 59, 58) ; " 
                onclick="saveAsDraftDialog()" value="Save As Draft"> -->

                <input type="submit" class="btn text-white mt-5" style="background-color:  rgb(59, 59, 58) ;  " name="save_draft" value="Save As Draft">
                <input type="submit" class="btn text-white mt-5" style="background-color: rgb(210, 132, 30) ; " name="convert_adjusted" value="Convert to Adjusted"> 
                <input type="submit" class="btn text-white mt-5" style="background-color:  rgb(59, 59, 58) ; " onclick="cancelDialog()" value="Cancel">
                <!-- <input type="submit" class="btn text-white mt-5" style="background-color: rgb(210, 132, 30) ; "
                    onclick="saveAndSendDialog()" value="Convert to Adjusted"> -->

                    <!-- <input type="submit" class="btn text-white mt-5" style="background-color:  rgb(59, 59, 58) ; "
                            onclick="cancelDialog()" value="Cancel">
                        </div> -->
                        <div class="-sm-12 col-md-6 col-lg-6"></div>
                    </div>
            <!-- #### FORM ####  -->
        </form>


            <!--..................................... item modal ..................................................-->

            <div class="modal fade" id="newitem">
              <div class="modal-dialog modal-xl">
                <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
                  <div class="modal-header " style="background: rgb(32, 35, 37);">
                      <h3 class="m-3 text-uppercase">New Item</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body" style="background: rgb(32, 35, 37);">
                    <div class="card p-3 m-3">
                      <form action=" " method="post" class="needs-validation" novalidate autocomplete="off" id="modalItem">
          
                        <div class="row mt-2">
                          <div class="col-md-4 mr-0">
                            <label class="col-form-label col-sm-2 p-0">Type <i class="fa fa-question-circle"></i></label>
                          </div>
                          <div class="col-md-5 ml-0 d-flex">
                            <div class="radio_opt mx-5 ">
                              <input type="radio" id="item_type1" name="radioOption" value="Goods" >
                              <label for="option1">Goods</label>
                            </div>
                            <div class="radio_opt mx-5 ">
                              <input type="radio" id="item_type2" name="radioOption" value="Services" >
                              <label for="option2">Services</label>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col-md-3">
                            <label for="name" style="color: rgb(190, 88, 88);">Name *</label>
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control bg-light text-dark" id="item_name" name="item_name" required>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col-md-3 ">
                            <label for="units">Unit</label>
                          </div>
                          <div class="col-md-6">
                            <div class="d-flex">
                              <select class="form-control bg-light text-dark" id="item_units" name="item_units" required>
                                <option value="" hidden>Select Unit</option>
                                {% for u in units %}
                                <option value="{{u.id}}">{{u.unit}}</option>
                                {% endfor %}
                              </select>                
                              <a href="#" class="btn btn-outline-secondary py-2 mb-1 mx-1" style="padding-bottom: 3px!important;" data-target="#newunit" data-toggle="modal">+</a>  
                            </div>
                          </div>
                        </div>
          
                        <div class="row mt-2">
                          <div class="col-md-4 ">
                            <label for="c_tax" style="color: rgb(190, 88, 88);">Tax Preference * </label>
                          </div>
                          <div class="col-md-5">
                            <div class="d-flex">
                              <div class="radio_opt mx-5 mt-2">
                                <input type="radio" id="item-tax1" name="radioOption1" value="Taxable" >
                                <label for="option1">Taxable</label>
                              </div>
                              <div class="radio_opt mx-4 mt-2">
                                <input type="radio" id="item-tax2" name="radioOption1" value="Tax-exempt" >
                                <label for="option2">Tax-exempt</label>
                              </div>
                            </div>
                          </div>       
                        </div>
          
                        <div class="row mt-2 mb-4 d-none inter-intra" >
                          <div class="col-md-3">
                            <label for="intra">Intra-State TAX</label>
                          </div>
                          <div class="col-md-3">
                            <select name="intra" class="form-control bg-light text-dark" id="intra">
                              <option value="">Select GST</option>
          
                              <option value="GST0[0%]">GST0[0%]</option>
                              <option value="GST5[5%]">GST5[5%]</option>
                              <option value="GST12[12%]">GST12[12%]</option>
                              <option value="GST18[18%]">GST18[18%]</option>
                              <option value="GST28[28%]">GST28[28%]</option>
                            </select>             
                          </div>
          
                          
                          <div class="col-md-2">
                            <label for="inter">Inter-State TAX</label>
                          </div>
                          <div class="col-md-3">
                            <select name="inter" class="form-control bg-light text-dark" id="inter">
                              <option value="">Select GST</option>
          
                              <option value="IGST0[0%]">IGST0[0%]</option>
                              <option value="IGST5[5%]">IGST5[5%]</option>
                              <option value="IGST12[12%]">IGST12[12%]</option>
                              <option value="IGST18[18%]">IGST18[18%]]</option>
                              <option value="IGST28[28%]">IGST28[28%]</option>
                            </select>               
                          </div>
                          <div class="col-md-1"></div>
          
                        </div>
                        
                        <hr>
          
                        <div class="row mt-5 text-center">
                          <div class="col-md-6 d-flex text-center">
                            <input  type="checkbox" name="selling" checked class="mx-2 my-0">
                            <h6 class="m-0">Selling Information</h6>
                          </div>
                          <div class="col-md-6 d-flex text-center">
                            <input  type="checkbox" name="purchase" checked class="mx-2 my-0">
                            <h6 class="m-0">Purchase Information</h6>
                          </div>
                        </div>
                        
                        <div class="row mt-4">
                          <div class="col-md-2">
                            <label for="sell_price">Selling Price *</label>
                          </div>
                          <div class="col-md-4">
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text text-white">INR</div>
                              </div>
                              <input required type="text" class="form-control bg-light text-dark" name="sell_price" id="sell_price">
                            </div>                  
                          </div>
          
                          <div class="col-md-2">
                            <label for="cost_price">Cost Price *</label>
                          </div>
                          <div class="col-md-4 ">
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text text-white">INR</div>
                              </div>
                              <input required type="text" class="form-control bg-light text-dark" name="cost_price" id="cost_price">
                            </div>
                          </div>
                        </div>
          
                        <div class="row mt-2">
                          <div class="col-md-2">
                            <label for="vcity">Account</label>
                          </div>
                          <div class="col-md-4">
                            <select name="sell_acc" id="sell_acc" class="form-control bg-light text-dark">
                              <option value="">Select Account</option>
               
                                <option value="" disabled class="btn btn-dark text-white"><b>SALES</b></option>
                                {% for s in sales %}
                                    <option value="{{s.id}}">{{ s.Account_name }}</option>
                              {% endfor %}
                            </select> 
                          </div>
                          <div class="col-md-2">
                            <label for="cost_acc">Account</label>
                          </div>
                          <div class="col-md-4">
                            <select name="cost_acc" class="form-control bg-light text-dark" id="cost_acc">
                              <option value="">Select Account</option>
          
          
                              
                                <option value="" disabled class="btn btn-dark text-white"><b>PURCHASE</b></option>
                                {% for p in purchase %}
                                    <option value="{{p.id}}">{{ p.Account_name }}</option>
                              {% endfor %}
          
                            </select> 
                          </div>
                        </div>
          
                        <div class="row mt-2">
                          <div class="col-md-2">
                            <label for="sell_desc">Description</label>
                          </div>
                          <div class="col-md-4">
                            <input  type="text" name="sell_desc" class="form-control bg-light text-dark"  id="sell_desc">
                          </div>
          
                          <div class="col-md-2">
                            <label for="cost_desc">Description</label>
                          </div>
                          <div class="col-md-4 ">
                            <input  type="text" name="cost_desc" class="form-control bg-light text-dark"  id="cost_desc">
                          </div>
          
                        </div>
          
                        <div class="row mt-3">
                            <div class="col-md-6">
                              <input type="checkbox" value="" id="invalidCheck" name="invalidCheck" required>
                              <label for="invalidCheck" style="color:white;">Agree to terms and conditions</label>
                              <div class="invalid-feedback text-warning" >You must agree before submitting.</div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4"></div>
                          <div class="col-md-4">
                            <div class="d-flex">
                              <button class="btn save_btn rounded-pill text-grey w-50 my-4 mx-3"
                              type="submit" data-dismiss="modal" id="itemSave">Submit
                              </button> 
          
                              <button type="button" class="close btn save_btn rounded-pill text-grey w-50 my-4" 
                                data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">Cancel</span>
                              </button>
                            </div>
                          </div>
                          <div class="col-md-4"></div>
                        </div>
                      </form>
                          </div>
                      </div>
                  </div>
              </div>  
            </div> 
          
          
          
          <!-- ....................................................  END ITEM MODAL................................. -->



          <!--.................................................... ADD REASON MODAL ....................................................-->
          <div class="modal fade" id="newreason">
            <div class="modal-dialog modal-xl">
              <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
                <div class="modal-header " style="background: rgb(32, 35, 37);">
                    <h3 class="m-3 text-uppercase">New Adjustment</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background: rgb(32, 35, 37);">
                  <div class="card p-3 m-3">
                    
                      
                      <div class="row mt-2">
                        <div class="col-md-3 mt-2"></div>
                        <div class="col-md-1 mt-2">
                          <!-- <label for="unit" style="color: rgb(190, 88, 88);">Reason</label> -->
                        </div>
                        

                        <div style="margin-left: 50px; padding-bottom: 30px;">
                          <button class="btn-warning text-white" style="border-radius: 6px;" id="showReasonInput" >+ Add new Reason</button>
                          <div id="reasonInput" style="display: none;">
                            <form action="{% url 'newreasons' %}" method="post" class="needs-validation" novalidate autocomplete="off" id="modalUnit">
                                {% csrf_token %}
                              <label for="" style="color: red;margin-bottom: 20px;">Reason *</label>
                              <input type="text" class="form-control bg-light text-dark" style="width: 600px;" id="newReason" name="newReason" required>
                              <div class="d-flex">
                                <button class="btn save_btn rounded-pill text-grey  my-4" style="width: 150px;" type="submit" id="saveReason">Save</button>
                                &nbsp;&nbsp;
                                <button type="button" class="close btn save_btn rounded-pill text-grey  my-4" style="width: 150px;" id="cancelReason">Cancel</button>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div style="margin-left: 50px;">
                          <hr width="950px;">
                          <label for="unit">REASON</label>
                          <hr width="950px;">

                  
                          <ul class="list-unstyled">

                            {% for i in reason %}
                            <li class="py-2">{{i.reason }}</li>
                            {% endfor %}
                          </ul>
                        
                        </div>


                        <div class="col-md-4 mt-2"></div>
                      </div>

                    
                  </div>
                </div>
              </div>
            </div>  
          </div>  
       


<!-- add/cancel/save button -->
       <script>
        document.addEventListener('DOMContentLoaded', function() {
          // Get references to the elements
          var showReasonInputBtn = document.getElementById('showReasonInput');
          var reasonInput = document.getElementById('reasonInput');
          var newReasonInput = document.getElementById('newReason');
        //   var saveReasonBtn = document.getElementById('saveReason');
          var cancelReasonBtn = document.getElementById('cancelReason');
        
          // Add click event listener to the "+ Add new Reason" button
          showReasonInputBtn.addEventListener('click', function(event) {
            showReasonInputBtn.style.display = 'none';
           // event.preventDefault();  Prevent form submission
            reasonInput.style.display = 'block'; // Show the input box and buttons
          });

         
        
          // Add click event listener to the "Cancel" button
          cancelReasonBtn.addEventListener('click', function() {
            reasonInput.style.display = 'none'; // Hide the input box and buttons
            newReasonInput.value = ''; // Clear the input field
            showReasonInputBtn.style.display = '';
          });
        });
      </script>
      
<!--END ADD REASON MODAL -->


    


<!-- ............................................unit modal............................................ -->

<div class="modal fade" id="newunit">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
        <div class="modal-header " style="background: rgb(32, 35, 37);">
            <h3 class="m-3 text-uppercase">Add Unit</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="background: rgb(32, 35, 37);">
          <div class="card p-3 m-3">
            <form action="" method="post" class="needs-validation" novalidate autocomplete="off" id="modalUnit">
              <div class="row mt-2">
                <div class="col-md-3 mt-2"></div>
                <div class="col-md-1 mt-2">
                  <label for="unit" style="color: rgb(190, 88, 88);">Unit</label>
                </div>

                <div class="col-md-4 mt-2">
                  <input type="text" class="form-control bg-light text-dark" id="unit" name="unit" required>
                </div>
                <div class="col-md-4 mt-2"></div>
              </div>
              
              <div class="row mt-5">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <div class="d-flex">
                    <button class="btn save_btn rounded-pill text-grey w-50 my-4 mx-3"
                    type="submit" data-dismiss="modal" id="unitSave">Save
                    </button> 
                    

                    <button type="button" class="close btn save_btn rounded-pill text-grey w-50 my-4" 
                      data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">Cancel</span>
                    </button>
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  
  </div>  
<!-- ............................................  END UNIT MODAL..................................................... -->



    <!-- ###################################################################################### -->





        </div>
    </div>

   

</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
    







<script>




    // set todays date on estimate date field
    var today = new Date().toISOString().substr(0, 10);
    document.getElementById("estimate_date").value = today;
    document.getElementById("expiry_date").value = today;

// Event handler for clone button
var rowCount = 1;
$('#item_table').on('click', '.clone-row', function () {
  var row = $(this).closest('tr');
  var clonedRow = row.clone(); // Clone the current row
  var newRowId = 'row' + rowCount; // Generate a new ID for the cloned row
  clonedRow.attr('id', newRowId); // Set the new ID for the cloned row

  // Clone the options for tax, account, and item
  var currentItem = row.find('.item_select').val();
  clonedRow.find('.item_select').val(currentItem);
  
  var currentTax = row.find('.tax').val();
  clonedRow.find('.tax').val(currentTax);

  rowCount++; // Increment row counter

  $('#item_table tbody').append(clonedRow);
  var row = $(this).closest('tr');
  calc();
  calc_total();
     
});

//........................... Event handler for clone button  TABLE 2  ...................................
var rowCountt = 1;
$('#item_tablee').on('click', '.clone-roww', function () {
  var roww = $(this).closest('tr');
  var clonedRoww = roww.clone(); // Clone the current row
  var newRowIdd = 'row' + rowCountt; // Generate a new ID for the cloned row
  clonedRoww.attr('id', newRowIdd); // Set the new ID for the cloned row

  // Clone the options for tax, account, and item
  var currentItemm = roww.find('.item_selectt').val();
  clonedRoww.find('.item_selectt').val(currentItemm);
  
  var currentTaxx = roww.find('.taxx').val();
  clonedRoww.find('.taxx').val(currentTaxx);

  rowCountt++; // Increment row counter

  $('#item_tablee tbody').append(clonedRoww);
  var roww = $(this).closest('tr');
  calc();
  calc_total();
     
});






$(document).ready(function() {
    $("#cfname, #clname").change(function() {
      $("#cdisplayname").text($("#ctitle").val() +" " + $("#cfname").val() + " " + $("#clname").val());
    });
  });



  
   
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>


  // item modal

  $(document).ready(function() {
  $("#item-tax1").click(function() {
  //  console.log($("#item_units").val().split(' ')[0]);
    $(".inter-intra").removeClass('d-none');
    $(".inter-intra").addClass('d-flex');
  });

  $("#item-tax2").click(function() {

    $(".inter-intra").removeClass('d-flex');
    $(".inter-intra").addClass("d-none");
  });
});

$(document).ready(function() {
  $("#item-tax3").click(function() {
  //  console.log($("#item_units").val().split(' ')[0]);
    $(".inter-intra").removeClass('d-none');
    $(".inter-intra").addClass('d-flex');
  });

  $("#item-tax4").click(function() {

    $(".inter-intra").removeClass('d-flex');
    $(".inter-intra").addClass("d-none");
  });
});

$(document).on("click","#itemSave",function(){

  if ($('input[name="radioOption"]:checked').val() == 'Goods'){

      itemtype = $('#item_type1').val();
    }
  else{
    itemtype = $('#item_type2').val();
  }

  if ($('input[name="radioOption1"]:checked').val() == 'Taxable'){
      inter = $('#inter').val();
      intra = $('#intra').val();
    }
  else{
    inter = 0;
    intra = 0;
  }

  
  $.ajax({
    
    type : 'POST',
    url:"{% url 'purchase_item' %}",
    
    data:{
        type : itemtype,
        name : $("#item_name").val(),
        unit : $("#item_units").val(),
        inter : inter,
        intra : intra,
        sell_price : $("#sell_price").val(),
        cost_price : $("#cost_price").val(),
        sell_acc : $("#sell_acc").val(),
        cost_acc : $("#cost_acc").val(),
        sell_desc : $("#sell_desc").val(),
        cost_desc : $("#cost_desc").val(),
        
        csrfmiddlewaretoken: '{{ csrf_token }}'
        
      },
    
      success: function(response) {
        document.getElementById("modalItem").reset();
        reloadItem();
      },
  });        
});


function reloadItem() {
  $.ajax({
    url: "{% url 'purchase_item_dropdown' %}",
    type: "GET",
    dataType: "json",
    data: $(this).serialize(),
    csrfmiddlewaretoken: '{{ csrf_token }}',

    success: function(data) {
      var dropdown = $('.itm');
      var dropdown1 = $('.itmm');
      dropdown.empty();
      dropdown1.empty();
      $.each(data, function(key, value) {
          dropdown.append($('<option></option>').attr('value', key).text(value).val(value));
          dropdown1.append($('<option></option>').attr('value', key).text(value).val(value));
      });
    },
    error: function(xhr, status, error) {
    console.error(xhr.responseText);
    }
  });
}


// unit modal


$(document).on("click","#unitSave",function(){
  $.ajax({
    
    type : 'POST',
    url:"{% url 'purchase_unit' %}",

    data:{
        unit : $("#unit").val(),      
        csrfmiddlewaretoken: '{{ csrf_token }}'
        
      },
    
      success: function(response) {
        document.getElementById("modalUnit").reset();
        reloadUnit();
      },
  });        
});


function reloadUnit() {

  $.ajax({
    url: "{% url 'purchase_unit_dropdown' %}",
    type: "GET",
    dataType: "json",
    data: $(this).serialize(),
    csrfmiddlewaretoken: '{{ csrf_token }}',

    success: function(data) {
      var dropdown = $('#item_units');
      dropdown.empty();

      $.each(data, function(key, value) {
          dropdown.append($('<option></option>').attr('value', key).text(value).val(value));
      });
    },
    error: function(xhr, status, error) {
    console.error(xhr.responseText);
    }
  });
}

</script>


{% endblock %}